body {
  background-image: url('https://hdwallsource.com/img/2015/9/gradient-background-46249-47587-hd-wallpapers.jpg');
}

.App {
  height: 100vh;
  width: 100vw;
  padding-top: 1rem;
  text-align: center;
}

h1 {
  font-size: 12rem;
  color: orange;
  text-shadow: 2px 2px 2px yellow;
  margin: 0;
}
  

.App-logo {
  position: fixed;
  right: -7.5rem;
  top: -7.5rem;
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; 
}


.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

form {
  height: 50vh;
  width: 75vw;
  margin: auto;
}

form button {
  display: block;
  margin: 1rem auto;
  height: 3rem;
  width: 10rem;
  color: purple;
  font-size: xx-large;
  background-image:     radial-gradient(circle at top right, yellow, #f06d06);
}

select {
  height: 20vh;
  width: 75vw;
  font-size: 7rem;
  color: yellow;
  text-shadow: 2px 2px 2px red;
  background-image: url('https://apod.nasa.gov/apod/image/1810/OrionRedBlue_Lindemann_960.jpg');
  background-size: cover;
}

.Container {
  display: flex;
  overflow: scroll;
}

.Card {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100px;
}
